
body {
  box-sizing: border-box;
  margin: 0;
  background-color: blanchedalmond;
font-family:  Georgia, Times, 'Times New Roman', serif;
}

.card {
  border-radius: 20px;
  width: min-content;
  height: fit-content;
  margin: auto;
  background-color: white;
}
.card-container {
  display: flex;
  width: 100%;
  position: relative;
}
.card-img {
  width: 50%;
}
.card-img > img {
  object-fit: fill;
  height: 100%;
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.main {
  width: 50%;
  max-height: 50%;
  margin: 20vh auto;

  border-radius: 20px;

  position: relative;

  text-align: center;
}
.card-body {
  width: 50%;
 
  text-align: start;
  padding: 0 0 0 1rem;
  background-color: white;
}
.card-body-header {
  color: gray;
  letter-spacing: 5px;
}
.card-body-title {
  width: 75%;
  white-space: wrap;
  margin: 0;
}
.card-body-text {
  color: gray;
  font-size: medium;
  width: 75%;
  white-space: wrap;
  margin: 5px 0;
}
.card-body-price {
  color: green;

  font-weight: bold;
}
.card-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: smaller;
  font-weight: lighter;
  border-radius: 10px;
  background-color: darkgreen;
  padding: 0px 0;
  color: white !important;
  width: 90%;
  margin: 0 auto 0 0;
  cursor: pointer;
  opacity: 0.85;
  transition: ease-in-out;
  transition-duration: 0.5s;
}
.card-button:hover {
  opacity: 1;
}


@media only screen and (max-width: 600px) {

    .card-container {
    display: flex;
    flex-direction: column !important;
   width: 80vw !important;
  
    margin: 15vh auto  !important;
  }
  .card-img {
    width: 100% !important;
    max-height: 35vh;
    margin: 0;
  }
  .card-img > img {
    object-fit: cover;
    max-height: 100%;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px !important;
  }
  .card-body {
      width: 100% !important;
     
      text-align: start;
      max-width: fit-content;
     
      padding: 0 0 0 .9rem !important;
      background-color: white;
    }
    .main {
      width: 100vw;
      max-height: 50%;
      margin: 0 auto; 
      display: flex;
      justify-content: center;

      justify-items: center;
      border-radius: 20px;
      text-align: center;
    }
    .card-body-title {
        width: 100%;
        white-space: wrap;
        margin: 0;
      }
      .card-body-text {
        color: gray;
        font-size: 18px;
        width: 90%;
        white-space: wrap;
        margin: 5px 0;
      }
  }
